In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("C:\\Users\\Thanis\\Desktop\\Data Science\\Term 2\\Machine Learning 2\\Recommendation\\Project\\movie.csv")

In [3]:
movies.sample(5)

,movieId,title,genres
4439,4534,Return to Snowy River (a.k.a. The Man From Sno...,Adventure|Drama|Western
9754,31689,Inside Deep Throat (2005),Documentary
5473,5570,Thesis (Tesis) (1996),Drama|Horror|Thriller
9502,27815,"Chorus, The (Choristes, Les) (2004)",Drama
22231,106967,"April Fools, The (1969)",Comedy|Drama|Romance

In [ ]:
gen_list = []
for i in movies.genres:
    gen_list.append(i)

In [ ]:
gen_l = []
for i in gen_list:
    gen_l.append(i.split('|'))

In [ ]:
result = []
for el in gen_l:
    result.extend(el)

In [ ]:
genres_list=[]
genres_list = list(set(result))

In [6]:
gen_list = []
gen_l = []
result = []
genres_list=[]
j = 0
for i in movies.genres:
    gen_list.append(i)
    gen_l.append(gen_list[j].split('|'))
    result.extend(gen_l[j])
    j +=1

genres_list = list(set(result))
genres_list.sort()

In [11]:
#genres_list.pop(0)
len(genres_list)

20

In [8]:
for i in genres_list:
    movies[i] = 0

In [9]:
movies.sample(5)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5784,5883,They (2002),Horror|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11220,47404,Mind Game (2004),Adventure|Animation|Comedy|Fantasy|Romance|Sci-Fi,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20118,99101,Negative Happy Chainsaw Edge (Negatibu happî c...,Comedy|Horror,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11062,45761,Nightmare Castle (Amanti d'oltretomba) (Lovers...,Horror,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23404,111449,Burton and Taylor (2013),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
for index, row in movies.iterrows():
    for current_genre in genres_list:
        if current_genre in row['genres']:
            movies.loc[index,current_genre] = 1

In [9]:
movies.sample(5)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
8754,26306,Theatre of Blood (1973),Comedy|Horror|Mystery,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3174,3261,Singles (1992),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
26145,125878,Isi & Disi: Amor a lo bestia (2004),(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3961,4055,Panic (2000),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5294,5391,Thirteen Conversations About One Thing (a.k.a....,Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
sum(movies['Adventure'])

2329

In [ ]:
### DAY 2

In [11]:
import scipy
from scipy.cluster.hierarchy import dendrogram,linkage

In [12]:
movies_sub = movies.iloc[:,3:]
movies_sub.sample(2)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
9757,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6701,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
movies_sub

Z = linkage(movies_sub,'complete')

In [13]:
import sklearn
from sklearn.cluster import AgglomerativeClustering

In [14]:
hclust = AgglomerativeClustering(n_clusters = 7,affinity = 'cosine', linkage = 'complete')

In [15]:
hclust.fit(movies_sub)

AgglomerativeClustering(affinity='cosine', linkage='complete', n_clusters=7)

In [16]:
movies['groups'] = hclust.labels_

In [ ]:
#movies[movies['genre'] == 'Comedy|Thriller'].sample(5)

In [ ]:
### Proportion of max group in total

In [ ]:
#movies[movies['genre'].contains('Romantic')].sample(5)

x = movies[movies['genre'].str.contains('Romance')]
max_occurence_group = x['groups'].mode().values[0]
print(((sum(x['groups']==0)) / ((x['groups']).count()))*100)

In [ ]:
((sum(x['groups']==0)) / ((x['groups']).count()))*100

In [ ]:
#(x['groups']).count()

In [ ]:
#len(x)

In [ ]:
# finding top count genres within each group

In [17]:
genre_list = movies[movies['groups'] == 0]['genres'].value_counts()
genre_list[0:10]


# Docu drama - a dramatized television film based on real events.

Drama                   4519
Documentary             1942
Comedy|Drama            1264
Comedy|Drama|Romance     605
Crime|Drama              448
Drama|Thriller           426
Drama|War                399
Horror|Thriller          374
Crime|Drama|Thriller     304
Thriller                 268
Name: genres, dtype: int64

In [18]:
genre_list = movies[movies['groups'] == 1]['genres'].value_counts()
genre_list[0:10]

# Action comedy - A subgenre involving action and humour.

Comedy                          2294
Comedy|Crime                     187
Comedy|Crime|Drama                89
Action|Comedy|Crime               68
Comedy|Fantasy                    64
Animation|Comedy                  53
Comedy|Thriller                   36
Action|Comedy|Crime|Thriller      36
Children|Comedy|Fantasy           30
Comedy|Mystery                    29
Name: genres, dtype: int64

In [19]:
genre_list = movies[movies['groups'] == 2]['genres'].value_counts()
genre_list[0:10]

# Romcom

Drama|Romance               1075
Comedy|Romance               757
Romance                       77
Comedy|Fantasy|Romance        42
Drama|Romance|Thriller        40
Drama|Mystery|Romance         32
Action|Drama|Romance          25
Action|Comedy|Romance         22
Drama|Romance|Western         20
Adventure|Comedy|Romance      19
Name: genres, dtype: int64

In [20]:
genre_list = movies[movies['groups'] == 3]['genres'].value_counts()
genre_list[0:10]

#Action Thriller - movie with lots of suspense and action.

Adventure                              80
Action|Adventure|Thriller              55
Action|Adventure|Drama|Thriller        16
Action|Adventure|War                   16
Adventure|Drama|Thriller               16
Adventure|War                          10
Adventure|Horror|Sci-Fi                 5
Adventure|Thriller                      5
Action|Adventure|Drama|Thriller|War     4
Adventure|Horror|Thriller               4
Name: genres, dtype: int64

In [21]:
genre_list = movies[movies['groups'] == 4]['genres'].value_counts()
genre_list[0:10]

# Horror

Horror                           565
Comedy|Horror                    170
Horror|Sci-Fi                    140
Horror|Sci-Fi|Thriller            72
Fantasy|Horror                    28
Comedy|Horror|Thriller            27
Comedy|Horror|Sci-Fi              27
Action|Horror|Sci-Fi|Thriller     21
Action|Fantasy|Horror              9
Drama|Horror|Romance               9
Name: genres, dtype: int64

In [22]:
genre_list = movies[movies['groups'] == 5]['genres'].value_counts()
genre_list[0:5]

# Other

(no genres listed)    246
Name: genres, dtype: int64

In [34]:
genre_list = movies[movies['groups'] == 6]['genres'].value_counts()
genre_list[0:5]

# Animation

Animation                                      83
Animation|Children|Fantasy                     18
Action|Adventure|Animation                     18
Adventure|Animation|Children|Comedy|Fantasy    18
Animation|Fantasy                              18
Name: genres, dtype: int64

In [23]:
movies[movies['groups'] == 5]['title'].sample(5)

26358                      Bit by Bit (2002)
26394                          Li'l Quinquin
26687           The Iron Commissioner (1978)
26122    Morning for the Osone Family (1946)
27088                      Ice Poison (2014)
Name: title, dtype: object

Maverick British gay director Derek Jarman's last film is a wordless compilation 
of his home movies from 1970 -- six years before his debut feature "Sebastiane" -- 
to 1986, set to a Brian Eno score. Footage ranges from casual snippets of home life 
to behind-the-scenes set footage, along with appeara… MORE

In [ ]:
len(movies[movies['title'].str.contains('\(')])

In [26]:
movies.shape

(27277, 24)

In [27]:
#mov1 = movies[movies['title'].str.contains('\(')]

In [45]:
#mov1.shape
#movies3 = pd.read_csv("C:\\Users\\Thanis\\Desktop\\Data Science\\Term 2\\Machine Learning 2\\Recommendation\\Project\\movie2.csv")

In [ ]:
movies.sample(4)

In [43]:
hell1 = []

for i in movies.title:
    if i.find('(18') != -1:
        x = i.find('(18')
        hell1.append(int(i[x+1:x+5]))
    elif i.find('(19') != -1:
        x = i.find('(19')
        hell1.append(int(i[x+1:x+5]))
    elif i.find('(20') != -1:
        x = i.find('(20')
        hell1.append(int(i[x+1:x+5]))
    else:
        hell1.append('NA')

In [47]:
# filter based on user's preferred years. for eg, 80's, 70's

In [ ]:
# use tags score to find out similar plot movies after we finish our clustering

In [ ]:
#Black Tights (1-2-3-4 ou Les Collants noirs) (1960)
#Foreign Affair, A (2 Brothers & a Bride) (2003)
#Two Sons of Francisco ( 2 Filhos de Francisco - A HistÃ³ria de ZezÃ© di Camargo & Luciano) (2005)
#10th Judicial Court: Judicial Hearings, The (10e chambre - Instants d'audience) (2004)
#13 Beloved (13 game sayawng) (2006)
#11-11-11 (11-11-11: The Prophecy) (2011)
#Teddy Bear (10 timer til Paradis) (2012)
##It Boy (20 ans d'Ã©cart) (2013) --------->>
#Ultimate Accessory,The (100% cachemire) (2013)
#17 Girls (17 filles) (2011)
#10 minutes (10 minuta) (2002)
print(hell)

In [39]:
movies['year_released'] = hell1

In [35]:
movies.sample(10)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,groups,year_released
21046,102753,"Past, The (Le passé) (2013)",Drama|Mystery|Romance,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,2,2013
11622,50944,S.P.L.: Kill Zone (Saat po long) (2005),Action|Crime|Drama|Thriller,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2005
5586,5685,Real Women Have Curves (2002),Comedy|Drama,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2002
20364,100015,Chicago Massacre: Richard Speck (2007),Crime|Drama|Thriller,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,2007
24714,116857,Love and Honor (2012),Drama|Romance|War,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,2012
9695,31413,"White Sound, The (Das weiße Rauschen) (2001)",Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2001
9610,30952,Last Train from Gun Hill (1959),Drama|Western,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1959
26291,126190,Who Do I Gotta Kill? (1994),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1994
25080,118348,Trance (2001),Mystery|Thriller,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,2001
18772,93469,Dead on Time (1983),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1983

In [40]:
movies.to_csv('movies_modified.csv', index = False)

In [ ]:
#genre_list = movies[movies['groups'] == 7]['genre'].value_counts()
#genre_list[0:5]

In [ ]:
#genre_list = movies[movies['groups'] == 8]['genre'].value_counts()
#genre_list[0:5]

In [ ]:
#genre_list = movies[movies['groups'] == 9]['genre'].value_counts()
#genre_list[0:5]

In [ ]:
mov_name = input('Enter the movie name: ')